*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



body{

  background-color: white;

}



.logo{

    width: auto;

    height: 70px;

}



header{

  position: sticky;

  top: 76px;

  z-index: 20;

}



nav{

    position: sticky;

    top: 0;

    z-index: 20;

    display: flex;

    justify-content: space-around;

    align-items: center;

    text-decoration: none;

    min-height: 8vh;

    background-color: #D9EEE1;

    font-family: 'Poppins', sans-serif;

    width: 100%;

    min-width: 500px;

}



.nav-links{

    display: flex;

    justify-content: space-around;

    letter-spacing: 2px;

    width: 30%;

}



.nav-links a{

    text-decoration: none;

    color: black;

}



.nav-links a:hover {

  color: green;

}



.nav-links li{

    list-style: none;

    text-decoration: none;

}



.burger div{

    width: 25px;

    height: 3px;

    background-color: black;

    margin: 5px;

}

    .burger{

        display: none;

        cursor: pointer;

    }



   @media screen and (max-width: 1300px) {

    .nav-links{

        width: 50%;

    }

   }



   @media screen and (max-width: 750px) {

    .logo{

        height: 50px;

    }

   }



   @media screen and (max-width: 730px) {

    .nav-links{

        display: none;

    }

   }



   @media screen and (min-width: 730px) {

    #main{

        display: none;

    }

   }



   .sidebar {

    height: 100%;

    width: 0;

    position: fixed;

    z-index: 1;

    top: 0;

    right: 0;

    background-color: #D9EEE1;

    overflow-x: hidden;

    transition: 0.5s;

    padding-top: 60px;

  }

  

  .sidebar a {

    padding: 8px 8px 8px 32px;

    text-decoration: none;

    font-size: 25px;

    color: black;

    display: block;

    transition: 0.3s;

  }

  

  .sidebar a:hover {

    color: green;

  }

  

  .sidebar .closebtn {

    position: absolute;

    top: 0;

    right: 25px;

    font-size: 36px;

    margin-left: 50px;

  }

  

  .openbtn {

    font-size: 20px;

    cursor: pointer;

    color: black;

    background-color: #D9EEE1 ;

    padding: 10px 15px;

    border: none;

  }

  

  

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

  @media screen and (max-height: 450px) {

    .sidebar {padding-top: 15px;}

    .sidebar a {font-size: 18px;}

  }



  .content-links {

    font-size: 15px;

    margin-left: 30px;

  }



/* header-links */

header{

  position: sticky;

}



ul {

  list-style-type: none;

  margin: 0;

  padding: 0;

  overflow: hidden;

  background-color: #333;

}



ul>li {

  float: left;

  border-right:1px solid #bbb;

}



ul>li:last-child {

  border-right: none;

}



ul>li a {

  display: block;

  color: white;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

}



ul>li a:hover:not(.active) {

  background-color: #111;

}



.active {

  background-color: #04AA6D;

}



@media screen and (max-width: 730px) {

  header{

      display: none;

  }

 }



 /* contents dropdown */

 .dropbtn {

  color: black;

  padding: 16px;

  font-size: 16px;

  border: none;

  cursor: pointer;

}



.dropdown {

  position: relative;

  display: inline-block;

}



.dropdown-content {

  display: none;

  position: absolute;

  min-width: 200px;

  overflow: auto;

  z-index: 1;

}



li{

list-style: none;

}



.dropdown-content a{

  color: black;

  text-decoration: none;

  display: block;

  list-style: none;

  font-size: 15px;

}



.show {display: block;}



.dropdown li{

  padding: 8px 8px 8px 32px;

    text-decoration: none;

    font-size: 25px;

    color: black;

    display: block;

    transition: 0.3s;

}



.dropdown li:hover {

  color: green;

}



/* slideshow banner */

.slideshow{

  padding-top: 50px;

}



.slideshow .btn {

  position: absolute;

  top: 50%;

  left: 57%;

  transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  background-color: #ffde59;

  color: white;

  font-size: 16px;

  padding: 12px 24px;

  border: none;

  cursor: pointer;

  border-radius: 50px;

  text-align: center;

  transition: 0.5s;

}



.slideshow .btn:hover {

  background-color: white;

  color: red;

}



/*jssor slider loading skin spin css*/

.jssorl-009-spin img {

  animation-name: jssorl-009-spin;

  animation-duration: 1.6s;

  animation-iteration-count: infinite;

  animation-timing-function: linear;

}



@keyframes jssorl-009-spin {

  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }

}



.jssora061 {display:block;position:absolute;cursor:pointer;}

.jssora061 .a {fill:none;stroke:#fff;stroke-width:360;stroke-linecap:round;}

.jssora061:hover {opacity:.8;}

.jssora061.jssora061dn {opacity:.3;}

.jssora061.jssora061ds {opacity:.3;pointer-events:none;}



/* content */

.content>h1{

  font-family: Spectral, serif;

  font-size: 46px;

  color: black;

}



.content a{

  text-decoration: none;

 

}



.content{

  font-family: Rubik, sans-serif;

  font-size: 20px;

  margin: auto;

  width: 60%;

  color: black;

}



@media screen and (max-width: 730px) {

  .content{

    width: 80%;

  }

  footer{
    width: 960px;
  }

 }



.content>h1{

  padding-top: 30px;

}



iframe{

  padding-top: 40px;

}



footer{

  margin-top: 50px;

  padding-top: 27px;

  background-color: #D9EEE1;

  text-align: center;

  height: 70px;

  width: 100%;

  min-width: 500px;

}



.media_icons{

  display: flex;

  flex-wrap: wrap;

  margin-top: -23px;

  float: right;

  padding-right: 4px;

  }

  

  .media-1{

     padding-right: 5px;

  }

  

  .media-2{

    padding-right: 5px;

  }

  

  .media-3{

    padding-right: 5px;

  }

  

  .media-1:hover,.media-2:hover,.media-3:hover{

    transform: scale(1.1); 

  }